:root {
	--main-color-title: #212121;
	--main-color-text: #757575;
	--color-blue: #2196f3;
	--color-white: #ffffff;
	--hover-button: #188ce8;
	--bg-color-dark: #2f303a;
	--bg-color-grey: #f5f5f5;
	--color-black: #000000;
	--bg-color-cards: #f5f4fa;
	--border-cards-color: #eeeeee;
	--social-icon-color: #afb1b8;
	--linear-bg: (rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4));
}
