.benefits {
	padding: 60px 0;
}

.benefits__list {
	@media screen and (min-width:768px) {
		display: flex;
		flex-wrap: wrap;

		&--position {
			margin-top: 0;
			margin-bottom: 0;
			gap: 30px;
		}
	}
}

.benefits__item {
	&:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 30px;
	}
	}
	@media screen and (min-width:768px) {
		width: calc((100% - 30px) / 2);
	}

	@media screen and (min-width:1200px) {
		width: calc((100% - 90px) / 4);
	}

	&::before {
		content: "";
		display: block;
		background-size: 70px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: var(--bg-color-cards);
		height: 120px;
		margin-bottom: 30px;
	}

	&--antenna::before {
		background-image: url(../images/icons/antenna.svg);
	}

	&--clock::before {
		background-image: url(../images/icons/clock.svg);
	}

	&--diagram::before {
		background-image: url(../images/icons/diagram.svg);
	}

	&--astronaut::before {
		background-image: url(../images/icons/astronaut.svg);
	}
}

.benefits__subtitle {
	@include fs(14px, 700, 1.71, null);
	text-transform: uppercase;
	margin-bottom: 10px;

	@media screen and (max-width:767px) {
		text-align: center;
	}
}

.benefits__text {
	color: var(--main-color-text);
	line-height: 1.71;
	// margin: 0 0 30px 0;
}